<!doctype html>
<html id="root">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    
    <title><%= current_page.data.title || "Colin McCloskey" %></title>
    
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="root <%= page_classes %>">

    <section id="body">
      <%= yield %>
    </section>

    <%= javascript_include_tag :all %>
  </body>
</html>
