<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Colin McCloskey" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">

    <section id="header">
      <div id="logo"><a href="/"><%= image_tag "colin_graying.jpg" %></a></div>
      <h1>This is Colin McCloskey</h1>
      <p>Bearded computery nerd person. Philadelphian. Co-creator of Bennett &amp; Lila.</p>
    </section>

    <%= yield_content :posthead %>

    <section id="body">
      <%= yield %>
    </section>

    <%= yield_content :postbody %>

    <section id="footer">
      <h2>Colin McCloskey</h2>
      Bearded computery nerd person.

      <ul id="nav">
        <li><%=link_to "About", "/about"-%></li>
        <li><%=link_to "Résumé", "/resume"-%></li>
      </ul>

      <ul id="elsewhere">
        <li><a href="http://github.com/mccolin"><i class="fa fa-lg fa-fw fa-github"></i></a></li>
        <li><a href="http://instagram.com/mccolin"><i class="fa fa-lg fa-fw fa-instagram"></i></a></li>
        <li><a href="http://twitter.com/mccolin"><i class="fa fa-lg fa-fw fa-twitter"></i></a></li>
        <li><a href="http://facebook.com/colinmccloskey"><i class="fa fa-lg fa-fw fa-facebook-square"></i></a></li>
        <li><a href="http://www.linkedin.com/in/mccolin"><i class="fa fa-lg fa-fw fa-linkedin"></i></a></li>
        <li><a href="https://angel.co/mccolin"><i class="fa fa-lg fa-fw fa-angellist"></i></a></li>
      </ul>
    </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17221518-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
