<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Colin McCloskey" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">

    <section id="header">
      <div id="logo"><a href="/"><%= image_tag "colin_graying.jpg" %></a></div>
      <%= partial "../titles" %>
    </section>

    <%= yield_content :posthead %>

    <section id="body">
      <%= yield %>
    </section>

    <%= yield_content :postbody %>

    <section id="footer">
      <h2>Colin McCloskey</h2>
      Bearded computery nerd person.

      <ul id="nav">
        <li><%=link_to "About", "/about"-%></li>
        <li><%=link_to "Résumé", "/resume"-%></li>
      </ul>

      <%= partial "../elsewhere" %>
    </section>

  </body>
</html>
